@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
.font {
  font-family: "Poppins";
}
.title-main {
    margin-top: 20px;
    margin-bottom: 40px;
}
section {
    margin-bottom: 20px;
}
.text-center {
  text-align: center;
}
.color-blue {
  color: #3662ff;
}
.background-blue {
  background-color: #3662ff;
  color: #ffffff;
  line-height: 30px;
  padding-top: 2px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2px;
}
.paragraph-1, .paragraph-2 {
    margin-top: 0;   
}
.paragraph-1 {
    margin-bottom: 30px;
}
.paragraph-2 {
    margin-bottom: 0;
}
.underline {
  text-decoration: underline;
}
.background-black {
  background-color: #000000;
  color: #ffffff;
}
footer {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer.background-black > p{
    margin: 0;
}
