ul {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
ul li {
  display: inline-block;
  margin: 7px;
  background-color: #5d00ff;
  padding: 10px;
  border-color: #5d00ff;
  box-shadow: 0px 3px #88888860;
}
ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
