@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0d0d0e;
  box-shadow: 0px 4px 40px -15px #00000040;
  font-size: 20px;
  height: 70px;
}
.mainbody {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
section {
  display: flex;
  max-width: 780px;
  flex-wrap: wrap;
  padding-top: 50px;
  column-gap: 40px;
  row-gap: 55px;
}
figure {
  margin: 0;
}
span {
  background-color: #f6f6f6;
  padding: 3px;
}
.article1,
.article2,
.article3,
.article4 {
  width: 286px;
  height: 350px;
}
h3 {
  font-size: 16px;
}
h3:hover {
  text-decoration: underline;
  cursor: pointer;
}
p {
  font-size: 12px;
  padding-bottom: 15px;
}
aside {
  display: flex;
  max-width: 430px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 26px;
  gap: 20px;
}
aside > article {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  max-width: 290px;
}
h4 {
  font-size: 14px;
  margin: 0;
}
h4:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1000px;
  color: #f3f4f5;
  background-color: #0d0d0e;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
