@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}
.header {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
}
li {
  list-style: none;
  display: inline-block;
}
li > a {
  text-decoration: none;
  color: #585e65;
}
.list1 {
  padding-left: 20px;
}
.list2,
.list3,
.list4 {
  padding-left: 40px;
}
input#button {
  height: 35px;
  background-color: #4c6ef5;
  color: #ffffff;
  padding: 0 32px;
  margin-left: 386px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}
h1 {
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.products-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8 {
  width: 21%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}
.figure1 {
  margin-top: 54px;
  margin-bottom: 36px;
  margin-left: 50px;
}
.figure2 {
  margin-left: 52px;
}
.figure3 {
  margin-left: 61px;
}
.figure4 {
  margin-left: 61px;
}
.figure5 {
  margin-left: 51px;
  margin-bottom: 22px;
}
.figure6 {
  margin-top: 45px;
  margin-bottom: 40px;
  margin-left: 52px;
}
.figure7 {
  margin-left: 58px;
}
.figure8 {
  margin-left: 51px;
  margin-bottom: 0px;
}
figure > img {
  max-width: 150px;
  max-height: 150px;
}
.margin {
  margin-bottom: 41px;
}
p {
  margin-bottom: 28px;
}
input.add-to-cart {
  color: #ffffff;
  background-color: #4c6ef5;
  height: 35px;
  width: 252px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
